In [11]:
!kaggle datasets download -d andrewmvd/heart-failure-clinical-data

Downloading heart-failure-clinical-data.zip to /Users/mariana/-Project3-Heart-Disease-Probability-
  0%|                                               | 0.00/3.97k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 3.97k/3.97k [00:00<00:00, 3.35MB/s]

In [12]:
!tar -xzvf heart-failure-clinical-data.zip

x heart_failure_clinical_records_dataset.csv

In [4]:
import pandas as pd
import os
import numpy as np

In [13]:
print(os.listdir(os.getcwd()))

['Dataset - Kaggle .ipynb', 'heart_failure_clinical_records_dataset.csv', 'README.md', 'Heart_Disease_Prediction.csv', '.gitignore', '.ipynb_checkpoints', '.git', 'heart-disease-prediction.zip', 'heart-failure-clinical-data.zip']

## Kaggle Dataset

In [770]:
df_original = pd.read_csv('heart_failure_clinical_records_dataset.csv',encoding='cp1252')
df = df_original.copy()

In [771]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [772]:
df.anaemia.value_counts()

0    170
1    129
Name: anaemia, dtype: int64

In [376]:
df_ages = df.age.value_counts()

In [697]:
age_by_decade = pd.cut(x=df_ages, bins=[50, 60, 70, 80, 100], labels=['50s', '60s', '70s', '70s+'])
df_ages

60 to 70     93
50 to 60     82
70 to 80     52
40 to 50     47
80 to 100    25
Name: age, dtype: int64

In [374]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import pandas as pd

In [281]:
print(df.shape)
print(df.dtypes)

(2617, 1)
0    object
dtype: object

## API Data - INE

In [282]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
import datetime

In [490]:
url_plantilla = f'http://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/{codigo}?nult={num_datos}'

codigo = "ECM351"
num_datos = 500

url = url_plantilla.format(codigo=codigo,
                           num_datos=num_datos)

In [491]:
import requests
respuesta = requests.get(url)

In [492]:
print(respuesta.text)

{"COD":"ECM351", "Nombre":"I-XXII.Todas las causas. Ambos sexos. Todas las edades. Total Nacional. Personas. ", "FK_Unidad":3, "FK_Escala":1, "Data":[{"Fecha":315529200000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1980, "Valor":289344.0, "Secreto":false}
,{"Fecha":347151600000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1981, "Valor":293386.0, "Secreto":false}
,{"Fecha":378687600000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1982, "Valor":286655.0, "Secreto":false}
,{"Fecha":410223600000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1983, "Valor":302569.0, "Secreto":false}
,{"Fecha":441759600000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1984, "Valor":299409.0, "Secreto":false}
,{"Fecha":473382000000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1985, "Valor":312532.0, "Secreto":false}
,{"Fecha":504918000000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1986, "Valor":310413.0, "Secreto":false}
,{"Fecha":536454000000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1987, "Valor":310073.0, "Secreto":false}
,{"Fecha":567990000000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1988, "Valor":319437.0, "Secreto":false}
,{"Fecha":599612400000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1989, "Valor":324796.0, "Secreto":false}
,{"Fecha":631148400000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1990, "Valor":333142.0, "Secreto":false}
,{"Fecha":662684400000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1991, "Valor":337691.0, "Secreto":false}
,{"Fecha":694220400000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1992, "Valor":331515.0, "Secreto":false}
,{"Fecha":725842800000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1993, "Valor":339661.0, "Secreto":false}
,{"Fecha":757378800000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1994, "Valor":338242.0, "Secreto":false}
,{"Fecha":788914800000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1995, "Valor":346227.0, "Secreto":false}
,{"Fecha":820450800000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1996, "Valor":351449.0, "Secreto":false}
,{"Fecha":852073200000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1997, "Valor":349521.0, "Secreto":false}
,{"Fecha":883609200000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1998, "Valor":360511.0, "Secreto":false}
,{"Fecha":915145200000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":1999, "Valor":371102.0, "Secreto":false}
,{"Fecha":946681200000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2000, "Valor":360391.0, "Secreto":false}
,{"Fecha":978303600000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2001, "Valor":360131.0, "Secreto":false}
,{"Fecha":1009839600000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2002, "Valor":368618.0, "Secreto":false}
,{"Fecha":1041375600000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2003, "Valor":384828.0, "Secreto":false}
,{"Fecha":1072911600000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2004, "Valor":371934.0, "Secreto":false}
,{"Fecha":1104534000000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2005, "Valor":387355.0, "Secreto":false}
,{"Fecha":1136070000000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2006, "Valor":371478.0, "Secreto":false}
,{"Fecha":1167606000000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2007, "Valor":385361.0, "Secreto":false}
,{"Fecha":1199142000000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2008, "Valor":386324.0, "Secreto":false}
,{"Fecha":1230764400000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2009, "Valor":384933.0, "Secreto":false}
,{"Fecha":1262300400000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2010, "Valor":382047.0, "Secreto":false}
,{"Fecha":1293836400000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2011, "Valor":387911.0, "Secreto":false}
,{"Fecha":1325372400000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2012, "Valor":402950.0, "Secreto":false}
,{"Fecha":1356994800000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2013, "Valor":390419.0, "Secreto":false}
,{"Fecha":1388530800000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2014, "Valor":395830.0, "Secreto":false}
,{"Fecha":1420066800000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2015, "Valor":422568.0, "Secreto":false}
,{"Fecha":1451602800000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2016, "Valor":410611.0, "Secreto":false}
,{"Fecha":1483225200000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2017, "Valor":424523.0, "Secreto":false}
,{"Fecha":1514761200000, "FK_TipoDato":1, "FK_Periodo":28, "Anyo":2018, "Valor":427721.0, "Secreto":false}
]
}

In [702]:
datos = respuesta.json()

In [703]:
import datetime
          
print(datos['Nombre'])
for x in datos['Data']:
    date = datetime.date.fromtimestamp(
                      x['Fecha'] // 1000)
    deaths = x['Valor']
    print(date, deaths)

I-XXII.Todas las causas. Ambos sexos. Todas las edades. Total Nacional. Personas.
1980-01-01 289344.0
1981-01-01 293386.0
1982-01-01 286655.0
1983-01-01 302569.0
1984-01-01 299409.0
1985-01-01 312532.0
1986-01-01 310413.0
1987-01-01 310073.0
1988-01-01 319437.0
1989-01-01 324796.0
1990-01-01 333142.0
1991-01-01 337691.0
1992-01-01 331515.0
1993-01-01 339661.0
1994-01-01 338242.0
1995-01-01 346227.0
1996-01-01 351449.0
1997-01-01 349521.0
1998-01-01 360511.0
1999-01-01 371102.0
2000-01-01 360391.0
2001-01-01 360131.0
2002-01-01 368618.0
2003-01-01 384828.0
2004-01-01 371934.0
2005-01-01 387355.0
2006-01-01 371478.0
2007-01-01 385361.0
2008-01-01 386324.0
2009-01-01 384933.0
2010-01-01 382047.0
2011-01-01 387911.0
2012-01-01 402950.0
2013-01-01 390419.0
2014-01-01 395830.0
2015-01-01 422568.0
2016-01-01 410611.0
2017-01-01 424523.0
2018-01-01 427721.0

In [670]:
url_new = 'https://servicios.ine.es/wstempus/js/es/DATOS_TABLA//t15/p417/a2018/l0/01004.px?tip=AMtv=causaslistareducida:053061ixenfermedadesdelsistemacirculatorio&tv=causaslistareducida:053enfermedadescardiacasreumaticascronicas&tv=causaslistareducida:054enfermedadeshipertensivas&tv=causaslistareducida:055infartoagudodemiocardio&tv=causaslistareducida:056otrasenfermedadesisquemicasdelcorazon&tv=causaslistareducida:057insuficienciacardiaca&tv=causaslistareducida:058otrasenfermedadesdelcorazon&tv=sexo:ambossexos&tv=edad:todaslasedades'

In [679]:
response_new = requests.get(url_new)

In [680]:
response_new.status_code

200

In [681]:
data_API = response_new.json()
data_API

[{'Nombre': '053 Enfermedades cardíacas reumáticas crónicas, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 3.323, 'Secreto': False}]},
 {'Nombre': '054 Enfermedades hipertensivas, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 26.742, 'Secreto': False}]},
 {'Nombre': '055 Infarto agudo de miocardio, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 31.075, 'Secreto': False}]},
 {'Nombre': '056 Otras enfermedades isquémicas del corazón, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 35.59, 'Secreto': False}]},
 {'Nombre': '057 Insuficiencia cardíaca, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 40.964, 'Secreto': False}]},
 {'Nombre': '058 Otras enfermedades del corazón, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 52.214, 'Secreto': False}]}]

In [682]:
type(data_API)

list

In [683]:
df = pd.DataFrame(data_API)

In [684]:
df.head()

,Nombre,Data
0,053 Enfermedades cardíacas reumáticas crónicas...,"[{'Valor': 3.323, 'Secreto': False}]"
1,"054 Enfermedades hipertensivas, Ambos sexos, T...","[{'Valor': 26.742, 'Secreto': False}]"
2,"055 Infarto agudo de miocardio, Ambos sexos, T...","[{'Valor': 31.075, 'Secreto': False}]"
3,"056 Otras enfermedades isquémicas del corazón,...","[{'Valor': 35.59, 'Secreto': False}]"
4,"057 Insuficiencia cardíaca, Ambos sexos, Todas...","[{'Valor': 40.964, 'Secreto': False}]"

In [704]:
df.to_dict('records')

[{'Nombre': '053 Enfermedades cardíacas reumáticas crónicas, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 3.323, 'Secreto': False}]},
 {'Nombre': '054 Enfermedades hipertensivas, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 26.742, 'Secreto': False}]},
 {'Nombre': '055 Infarto agudo de miocardio, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 31.075, 'Secreto': False}]},
 {'Nombre': '056 Otras enfermedades isquémicas del corazón, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 35.59, 'Secreto': False}]},
 {'Nombre': '057 Insuficiencia cardíaca, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 40.964, 'Secreto': False}]},
 {'Nombre': '058 Otras enfermedades del corazón, Ambos sexos, Todas las edades',
  'Data': [{'Valor': 52.214, 'Secreto': False}]}]

In [705]:
from collections import OrderedDict, defaultdict
df.to_dict(into=OrderedDict)

OrderedDict([('Nombre',
              OrderedDict([(0,
                            '053 Enfermedades cardíacas reumáticas crónicas, Ambos sexos, Todas las edades'),
                           (1,
                            '054 Enfermedades hipertensivas, Ambos sexos, Todas las edades'),
                           (2,
                            '055 Infarto agudo de miocardio, Ambos sexos, Todas las edades'),
                           (3,
                            '056 Otras enfermedades isquémicas del corazón, Ambos sexos, Todas las edades'),
                           (4,
                            '057 Insuficiencia cardíaca, Ambos sexos, Todas las edades'),
                           (5,
                            '058 Otras enfermedades del corazón, Ambos sexos, Todas las edades')])),
             ('Data',
              OrderedDict([(0, [{'Valor': 3.323, 'Secreto': False}]),
                           (1, [{'Valor': 26.742, 'Secreto': False}]),
                           (2, [{'Valor': 31.075, 'Secreto': False}]),
                           (3, [{'Valor': 35.59, 'Secreto': False}]),
                           (4, [{'Valor': 40.964, 'Secreto': False}]),
                           (5, [{'Valor': 52.214, 'Secreto': False}])]))])

In [707]:
new_list = []
for i in data_API:
    new_list.append(list(i.values()))
Clean_Data = {
}
for j, k in new_list:
    nombre = j[4:]
    valor = k[0]['Valor']
    Clean_Data[nombre] = valor
Clean_Data

{'Enfermedades cardíacas reumáticas crónicas, Ambos sexos, Todas las edades': 3.323,
 'Enfermedades hipertensivas, Ambos sexos, Todas las edades': 26.742,
 'Infarto agudo de miocardio, Ambos sexos, Todas las edades': 31.075,
 'Otras enfermedades isquémicas del corazón, Ambos sexos, Todas las edades': 35.59,
 'Insuficiencia cardíaca, Ambos sexos, Todas las edades': 40.964,
 'Otras enfermedades del corazón, Ambos sexos, Todas las edades': 52.214}

In [742]:
# split dictionary into keys and values 
keys = [] 
values = [] 
items = Clean_Data.items() 
for item in items: 
    keys.append(item[0]), values.append(item[1])
print ("keys : ", str(keys)) 
print ("values : ", str(values))
Clean_Data

keys :  ['Enfermedades cardíacas reumáticas crónicas, Ambos sexos, Todas las edades', 'Enfermedades hipertensivas, Ambos sexos, Todas las edades', 'Infarto agudo de miocardio, Ambos sexos, Todas las edades', 'Otras enfermedades isquémicas del corazón, Ambos sexos, Todas las edades', 'Insuficiencia cardíaca, Ambos sexos, Todas las edades', 'Otras enfermedades del corazón, Ambos sexos, Todas las edades']
values :  [3.323, 26.742, 31.075, 35.59, 40.964, 52.214]

{'Enfermedades cardíacas reumáticas crónicas, Ambos sexos, Todas las edades': 3.323,
 'Enfermedades hipertensivas, Ambos sexos, Todas las edades': 26.742,
 'Infarto agudo de miocardio, Ambos sexos, Todas las edades': 31.075,
 'Otras enfermedades isquémicas del corazón, Ambos sexos, Todas las edades': 35.59,
 'Insuficiencia cardíaca, Ambos sexos, Todas las edades': 40.964,
 'Otras enfermedades del corazón, Ambos sexos, Todas las edades': 52.214}

In [765]:
data = {'col_1': keys, 'col_2': values}
data2 = pd.DataFrame.from_dict(data)
data2.rename(columns={'col_1': 'Illness', 'col_2': 'Data'})

                                             Illness    Data
0  Enfermedades cardíacas reumáticas crónicas, Am...   3.323
1  Enfermedades hipertensivas, Ambos sexos, Todas...  26.742
2  Infarto agudo de miocardio, Ambos sexos, Todas...  31.075
3  Otras enfermedades isquémicas del corazón, Amb...  35.590
4  Insuficiencia cardíaca, Ambos sexos, Todas las...  40.964
5  Otras enfermedades del corazón, Ambos sexos, T...  52.214

# Web Scraping

In [645]:
url = 'https://public.tableau.com/views/CAUSASDEMUERTEactualizacin2018/Dashboard1?:showVizHome=no&:embed=true'

In [386]:
content = requests.get(url)

In [387]:
soup = BeautifulSoup(content.text, 'html.parser')
print (content)

<Response [200]>

In [706]:
data_graph = soup.find_all("div", class_= "tab-textRegion-boundary")